[include mainsail.cfg]
[include mmu/base/mmu.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
#[include mmu/optional/mmu_menu.cfg]
#[include mmu/addons/blobifier.cfg]
[include macros.cfg]
[include head.cfg]
[include timelapse.cfg]
[include leds.cfg]
[include klipperExpander.cfg]
[include shell-macros.cfg]
#[include PIS.cfg]
#[include erb.cfg]
##
#=================== PRINTER
[printer]
kinematics: corexy
max_velocity: 500 #estava 300
max_accel: 8500
square_corner_velocity: 3.0 #estava 5
max_z_velocity: 100 #10
max_z_accel: 100

#=================== MCU
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#serial: /dev/ttyUSB0
baud: 250000
restart_method: command

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

#=================== TEMPERATURAS
[temperature_sensor Robin_Nano]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor BTT_PI]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

#=================== BARRA LEDS
[neopixel leds]
pin: expander:PB1
chain_count: 50
color_order: GRB
initial_red: 0.0
initial_green: 0.0
initial_blue: 1.0

#=================== MESA
[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 70.006 ; <--- NOVO KP
#pid_ki: 0.858  ; <--- NOVO KI
#pid_kd: 1428.119 ; <--- NOVO KD

[verify_heater heater_bed]
max_error: 8
check_gain_time: 180
heating_gain: 0.35
hysteresis: 10

#=================== MOTORES
[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
endstop_pin: ^!EBBCan:PB6
microsteps: 16
rotation_distance: 40
position_endstop: 0
position_max: 300
homing_speed: 150 #100

[tmc2209 stepper_x]
uart_pin: PC13
uart_address: 0
interpolate: false
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 300
position_max: 300
position_min: 1
homing_speed: 150 #100

[tmc2209 stepper_y]
uart_pin: PC13
uart_address: 1
interpolate: false
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110

[stepper_z]
step_pin: PA6
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop  # BLTouch
position_min: -2
position_max: 326
homing_speed: 100 #10

[tmc2209 stepper_z]
uart_pin: PC13
uart_address: 2
interpolate: false
run_current: 0.8 #estava 0.7
stealthchop_threshold: 0
sense_resistor: 0.110

[stepper_z1]
step_pin: PB5 #PA6
dir_pin: !PB4 #!PA1
enable_pin: !PB8 #!PA3
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop  # BLTouch

[tmc2209 stepper_z1]
uart_pin: PC13
uart_address: 3
interpolate: false
run_current: 0.8 #estava 0.7
stealthchop_threshold: 0
sense_resistor: 0.110

#=================== PROBE
[output_pin probe_enable]
pin: EBBCan:PB9
Value: 0

[gcode_macro Probe_Deploy]
gcode: 
    SET_PIN PIN=probe_enable VALUE=1
    
[gcode_macro Probe_Stow]
gcode: 
    SET_PIN PIN=probe_enable VALUE=0
    
[probe]
pin: ^!EBBCan:PB4
deactivate_on_each_sample: False
x_offset: 0.0
y_offset: -39.8
#z_offset: -0.085
speed: 30 #5.0
samples: 3 #
sample_retract_dist: 2.0 #
samples_tolerance: 0.01 #
samples_tolerance_retries: 10 #
activate_gcode:
    Probe_Deploy
    G4 P500
deactivate_gcode:
    Probe_Stow
    
    #[bltouch]
    #sensor_pin: ^EBBCan:PB4   # Pino de SINAL (mesmo da microprobe, mas geralmente sem o '!')
    #control_pin: EBBCan:PB9   # Pino de SERVO/CONTROLE (era o probe_enable)
    #x_offset: 0
    #y_offset: -45             # Seu offset antigo do BLTouch
    #z_offset: 0              # Comente para não sobrescrever o save_config
    #speed: 5.0
    #samples: 2
    #samples_tolerance: 0.050
    #sample_retract_dist: 3.0
    #probe_with_touch_mode: True # Recomendado para BLTouch v3.0/3.1 e clones
    #stow_on_each_sample: False  # False = mais rápido (não sobe a agulha a cada toque)
    
    
    #=================== NIVELAMENTO
[bed_mesh]
speed: 300 #200  
horizontal_move_z: 3 #10
mesh_min: 10, 10
mesh_max: 290, 260  # ≤ 261.5
probe_count: 11, 11
fade_start: 1.0  
fade_end: 20.0  
fade_target: 0
algorithm: bicubic

[z_tilt]
z_positions:
    10, 155
    290, 155
points:
    35, 200
    275, 200
speed: 300 #170
retries: 10
horizontal_move_z: 3
retry_tolerance: 0.05

[bed_screws]
screw1: 30,40
screw2: 265,40
screw3: 265,265
screw4: 30,265

[screws_tilt_adjust]
screw1: 30,40
screw1_name: Front Left Screw
screw2: 265,40
screw2_name: front right screw
screw3: 265,265
screw3_name: rear right screw
screw4: 30,265
screw4_name: rear left screw
horizontal_move_z: 5
speed: 200
screw_thread: CW-M4

#=================== NÂO SEI
[static_digital_output reset_display]
pins: !PC6, !PD13

#=================== HOME
[safe_z_home]
home_xy_position: 155,150
speed: 300
z_hop: 10

#=================== DESLIGAMENTO 2HS
[idle_timeout]
timeout: 7200

#=================== EXTRAS
[gcode_arcs]
[exclude_object]

[include moonraker_obico_macros.cfg]

[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.128
#*# pid_ki = 0.974
#*# pid_kd = 1298.976
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.082892, 0.123933, 0.102892, 0.091642, 0.107267, 0.096433, 0.092058, 0.095600, 0.100183, 0.065183, 0.007475
#*# 	0.121850, 0.121850, 0.072058, 0.081017, 0.082683, 0.070600, 0.074975, 0.079350, 0.062267, 0.058100, 0.008100
#*# 	0.076433, 0.090392, 0.044558, 0.068100, 0.080808, 0.058517, 0.072892, 0.062683, 0.054767, 0.047267, -0.006483
#*# 	0.083308, 0.108308, 0.061433, 0.086850, 0.110808, 0.068517, 0.066642, 0.063725, 0.057058, 0.028308, -0.001483
#*# 	0.055600, 0.090392, 0.077475, 0.085392, 0.084350, 0.073725, 0.064767, 0.044350, 0.044558, 0.009975, -0.027525
#*# 	0.074558, 0.097475, 0.104767, 0.105600, 0.106225, 0.066433, 0.062683, 0.058100, 0.046642, 0.039767, -0.007942
#*# 	0.084142, 0.122475, 0.118517, 0.121850, 0.127058, 0.075392, 0.080392, 0.072058, 0.053100, 0.046433, 0.039350
#*# 	0.122683, 0.153308, 0.139767, 0.152475, 0.168933, 0.114975, 0.107683, 0.101433, 0.071642, 0.070600, 0.076642
#*# 	0.128100, 0.178933, 0.142267, 0.149350, 0.167892, 0.121017, 0.123725, 0.119350, 0.109142, 0.098725, 0.082267
#*# 	0.135392, 0.192683, 0.165808, 0.152058, 0.162683, 0.150392, 0.129767, 0.124558, 0.119142, 0.091433, 0.090808
#*# 	0.185183, 0.230808, 0.210392, 0.185808, 0.194975, 0.178517, 0.168517, 0.187892, 0.147475, 0.127267, 0.130183
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [probe]
#*# z_offset = -0.010
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 75.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 53.6
