[include mmu/base/mmu.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
##[include mmu/optional/mmu_menu.cfg]
[include mmu/addons/blobifier.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include head.cfg]
[include timelapse.cfg]
[include leds.cfg]
[include klipperExpander.cfg]
[include poop.cfg]
[include shell-macros.cfg]
#[include PIS.cfg]
#[include erb.cfg]
##
#=================== PRINTER
[printer]
kinematics: corexy
max_velocity: 500 #estava 300
max_accel: 8500
square_corner_velocity: 3.0 #estava 5
max_z_velocity: 10 #estava 30
max_z_accel: 100

#=================== MCU
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#serial: /dev/ttyUSB0
baud: 250000
restart_method: command

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

#=================== TEMPERATURAS
[temperature_sensor Robin_Nano]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor BTT_PI]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

#=================== BARRA LEDS
[neopixel leds]
pin: expander:PB1
chain_count: 50
color_order: GRB
initial_red: 0.0
initial_green: 0.0
initial_blue: 1.0

#=================== MESA
[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 70.006 ; <--- NOVO KP
#pid_ki: 0.858  ; <--- NOVO KI
#pid_kd: 1428.119 ; <--- NOVO KD

[verify_heater heater_bed]
max_error: 8
check_gain_time: 180
heating_gain: 0.35
hysteresis: 10

#=================== MOTORES
[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
endstop_pin: ^!EBBCan:PB6
microsteps: 16
rotation_distance: 40
position_endstop: 0
position_max: 300
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC13
uart_address: 0
interpolate: false
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 300
position_max: 300
position_min: 0 #1
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC13
uart_address: 1
interpolate: false
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110

[stepper_z]
step_pin: PA6
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop  # BLTouch
position_min: -2
position_max: 326
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC13
uart_address: 2
interpolate: false
run_current: 0.8 #estava 0.7
stealthchop_threshold: 0
sense_resistor: 0.110

[stepper_z1]
step_pin: PB5 #PA6
dir_pin: !PB4 #!PA1
enable_pin: !PB8 #!PA3
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop  # BLTouch

[tmc2209 stepper_z1]
uart_pin: PC13
uart_address: 3
interpolate: false
run_current: 0.8 #estava 0.7
stealthchop_threshold: 0
sense_resistor: 0.110

#=================== PROBE
[output_pin probe_enable]
pin: EBBCan:PB9
Value: 0

[gcode_macro Probe_Deploy]
gcode: 
    SET_PIN PIN=probe_enable VALUE=1
    
[gcode_macro Probe_Stow]
gcode: 
    SET_PIN PIN=probe_enable VALUE=0
    
[probe]
pin: ^!EBBCan:PB4
deactivate_on_each_sample: False
x_offset: 0.0
y_offset: -39.8
#z_offset: -0.085
speed: 5.0
samples: 3 #
sample_retract_dist: 2.0 #
samples_tolerance: 0.01 #
samples_tolerance_retries: 10 #
activate_gcode:
    Probe_Deploy
    G4 P500
deactivate_gcode:
    Probe_Stow

#[bltouch]
#sensor_pin: ^EBBCan:PB4   # Pino de SINAL (mesmo da microprobe, mas geralmente sem o '!')
#control_pin: EBBCan:PB9   # Pino de SERVO/CONTROLE (era o probe_enable)
#x_offset: 0
#y_offset: -45             # Seu offset antigo do BLTouch
#z_offset: 0              # Comente para não sobrescrever o save_config
#speed: 5.0
#samples: 2
#samples_tolerance: 0.050
#sample_retract_dist: 3.0
#probe_with_touch_mode: True # Recomendado para BLTouch v3.0/3.1 e clones
#stow_on_each_sample: False  # False = mais rápido (não sobe a agulha a cada toque)


#=================== NIVELAMENTO
[bed_mesh]
speed: 300  
horizontal_move_z: 3 #10
mesh_min: 10, 10
mesh_max: 290, 260  # ≤ 261.5
probe_count: 9, 9
fade_start: 1.0  
fade_end: 20.0  
fade_target: 0
algorithm: bicubic

[z_tilt]
z_positions:
    10, 155
    290, 155
points:
    35, 200
    275, 200
speed: 170
retries: 10
horizontal_move_z: 3
retry_tolerance: 0.05

[bed_screws]
screw1: 30,40
screw2: 265,40
screw3: 265,265
screw4: 30,265

[screws_tilt_adjust]
screw1: 30,40
screw1_name: Front Left Screw
screw2: 265,40
screw2_name: front right screw
screw3: 265,265
screw3_name: rear right screw
screw4: 30,265
screw4_name: rear left screw
horizontal_move_z: 5
speed: 200
screw_thread: CW-M4

#=================== NÂO SEI
[static_digital_output reset_display]
pins: !PC6, !PD13

#=================== HOME
[safe_z_home]
home_xy_position: 155,150
speed: 200
z_hop: 10

#=================== DESLIGAMENTO 2HS
[idle_timeout]
timeout: 7200

#=================== EXTRAS
[gcode_arcs]
[exclude_object]

[include moonraker_obico_macros.cfg]

[display_status]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.128
#*# pid_ki = 0.974
#*# pid_kd = 1298.976
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.045094, 0.050948, 0.138031, 0.220114, 0.197823, 0.219906, 0.185739, 0.177823, 0.151156
#*# 	  -0.055094, 0.038864, 0.146364, 0.214073, 0.210114, 0.185739, 0.170948, 0.142614, 0.104906
#*# 	  -0.019886, 0.052198, 0.147823, 0.201781, 0.201781, 0.157823, 0.154906, 0.133448, 0.094906
#*# 	  -0.026344, 0.044281, 0.108031, 0.175531, 0.148031, 0.124281, 0.119698, 0.086364, 0.036364
#*# 	  -0.005511, 0.066989, 0.143239, 0.183864, 0.138656, 0.121156, 0.106989, 0.066989, 0.025323
#*# 	  0.046781, 0.109906, 0.193864, 0.204698, 0.168031, 0.135323, 0.113239, 0.080739, 0.030948
#*# 	  0.100114, 0.151364, 0.191989, 0.207823, 0.180739, 0.168864, 0.153239, 0.091156, 0.095739
#*# 	  0.195739, 0.218031, 0.251781, 0.261573, 0.235739, 0.203656, 0.180114, 0.139906, 0.121156
#*# 	  0.266573, 0.280948, 0.310323, 0.315531, 0.279698, 0.269698, 0.244698, 0.173448, 0.149281
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 260.0
#*#
#*# [probe]
#*# z_offset = 0.090
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 75.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 53.6
